/*font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Inconsolata', monospace;
black : #000000;
ash : #626262;
gold : #b4ad9e;*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	color: #626262;
}
/*header start*/
header{
	padding: 30px 0;
}
.wrapper{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	width: 13%;
	float: left;
}
.logo a img{
	width: 100%;
	margin-top: 12px;
}
.menu{
	width: 72%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	text-decoration: none;
	font-size: 14px;
	padding: 0 60px;
	display: block;
	color: #626262;
	transition: .5s;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #000000;
}
/*header end*/
/*banner start*/
.bsnner{

}
.banner-img{
	width: 100%;
}
/*header end*/
/*getaway start*/
.getaway{
	padding: 70px 0;
}
.wrapper2{
	width: 78%;
	margin: 0 auto;
}
.perfect{}
.common{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #b4ad9e;
}
.p_h1{
	font-weight: 400;
	font-size: 30px;
}
.p_content{
	font-size: 14px;
	line-height: 25px;
	word-spacing: 1px;
	margin-bottom: 35px;
}
.p_content:nth-last-child(5) {
	margin-bottom: 0;
}
/*getaway end*/
/*blog start*/
.blog{}
.blog_wrapper{
	overflow: hidden;
}
.single{
	width: 47%;
	float: left;
	margin-top: 30px;
}
.single:nth-child(even){
	margin-left: 6%;
}
.single img{
	width: 100%;
}
/*blog end*/
/*signup start*/
.sign{
	min-height: 290px;
	background-color: #F0F0F0;
	margin: 70px 0;
}
.wrapper3{
	width: 27%;
	margin: 0 auto;
}
.form{
	padding-top: 60px;
}
label{
	font-size: 30px;
	color: #333333;
}
.email{
	width: 87%;
    height: 15px;
    padding: 5px;
    padding-left: 0;
    font-size: 14px;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Playfair Display', serif;
    margin-top: 80px;
}
.form button{
	background: transparent;
	border: none;
	outline: none;
	padding: 0;
}
.form button img{
	width: 100%;
}
/*signup end*/
/*load start*/
.wrapper4{
	margin: 130px 0 165px 0;
	text-align: center;
}
.wrapper4 button{
	font-family: 'Playfair Display', serif;
	padding: 20px 30px;
	font-size: 18px;
	color: #626262;
	background-color: white;
	transition: .5s;
	outline: none;
	border: 1px solid dimgray;
}
.wrapper4 button:hover{
	color: #626262;
}
/*load end*/
/*footer start*/
footer{
	padding: 20px 0;
	background-color: #F0F0F0;
}
.menu1{
	width: 50%;
	float: left;
}
.menu1 ul{
	padding: 0;
}
.menu2{
	width: 23%;
	float: right;
}
.menu2 ul{
	float: right;
}
.menu1 ul li, .menu2 ul li{
	list-style: none;
	float: left;
}
.menu1 ul li a, .menu2 ul li a{
	text-decoration: none;
	font-size: 14px;
	padding: 0 8px;
	display: block;
	color: #000000;
}
.menu1 ul li:first-child a{
	padding-left: 0;
}
.menu2 ul li:last-child a{
	padding-right: 0;
}
/*footer end*/
